body {
    background-color: darksalmon;
    font-style: italic;
    line-height: 16px;
    text-align: justify;
    background-image: url(img/3.jpg);
    color: honeydew;
    margin: 2px;
}
footer {
    text-align: right;
    color: greenyellow;
}
@keyframes rotate {
    0% { transform: rotate(0deg);}
    /* 25% { transform: rotate(90deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(270deg);} */
    100% { transform: rotate(180deg);
    /* from {left: 0px;} to {right: 30px;} } */
}
/* #logo {
    animation: rotate 2s alternate infinite ease-in-out;
    /* position: absolute; */
    /* display: block;
    top: 0;
    margin: 0 auto;
} */ 
h1 {
    text-align: center;
    color: greenyellow;    
}
h1:hover {
    color: lawngreen;
    padding-inline-start: 20px;
}
a {
    text-align: center;
    color: ivory;
}
a:hover {
    color: greenyellow;
}